body {
    background-color: #F8F8FF;
}

.div-caixa-informacao {
margin-top: 100px;
}
/*Caixa de Informações 1*/
.caixa-informacao-esquerda {
    padding: 30px;
    width: 60%;
    margin-left: -10px;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;

}


.letra-title-esquerda {
    font-size: 35px;
    text-align: right;
    margin-top: -280px;
    margin-right: 10%;
}
.letra-title-esquerda-sub  {
    width: 500px;
    margin-left: 430px;
    font-size: 35px;
    text-indent: 10%;
    margin-top: -30px;

}
.letra-text-esquerda  {
    width: 500px;
    margin-left: 430px;
    font-size: 20px;
    text-indent: 10%;
    margin-top: 50px;

}

  
    /*Caixa de Informações 2*/


.caixa-informacao-direita {
    padding: 30px;
    margin-top: 20px;
    width: 60%;
    margin-left: 550px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
}
.letra-title-direita {
    font-size: 35px;
    text-align: right;
    margin-top: -280px;
    margin-right: 10%;
}

.letra-text-direita  {
    width: 500px;
    margin-left: 430px;
    font-size: 20px;
    text-indent: 10%;
    margin-top: 50px;

}


    /*Caixa de Informações 3*/

.caixa-informacao-esquerda2 {
    padding: 30px;
    width: 60%;
    margin-left: -10px;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;

}


.letra-title-esquerda2  {
    width: 500px;
    margin-left: 430px;
    font-size: 35px;
    text-indent: 10%;
    margin-top: -300px;

}
.letra-text-esquerda2  {
    width: 500px;
    margin-left: 430px;
    font-size: 20px;
    text-indent: 10%;

}


    /*Caixa de Informações 4*/

.caixa-informacao-direita2 {
    padding: 30px;
    margin-top: 20px;
    width: 60%;
    margin-left: 550px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
}


.letra-title-direita2 {
    font-size: 35px;
    text-align: right;
    margin-top: -280px;
    margin-right: 2%;
}

.letra-text-direita2  {
    width: 500px;
    margin-left: 430px;
    font-size: 20px;
    text-indent: 10%;
    margin-top: 50px;

}




    /*Caixa de Informações 5*/

.caixa-informacao-esquerda3 {
    padding: 30px;
    width: 60%;
    margin-left: -10px;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;

}

.letra-title-esquerda3  {
    width: 500px;
    margin-left: 430px;
    font-size: 35px;
    text-indent: 10%;
    margin-top: -300px;

}
.letra-text-esquerda3  {
    width: 500px;
    margin-left: 430px;
    font-size: 20px;
    text-indent: 10%;

}

    /*Caixa de Informações 6*/

    .caixa-informacao-direita3 {
        padding: 30px;
        margin-top: 20px;
        width: 60%;
        margin-left: 550px;
        height: 300px;
        border-radius: 5px;
        background-color: white;
    }
    
    
    .letra-title-direita3 {
        font-size: 35px;
        text-align: right;
        margin-top: -280px;
        margin-right: 2%;
    }
    
    .letra-text-direita3 {
        width: 500px;
        margin-left: 430px;
        font-size: 20px;
        text-indent: 10%;
        margin-top: 50px;
    
    }
        /*Caixa de Informações 6*/






/*imagens*/

.img {

    border-radius: 5px;
    width: 40%;
    height: 300px;


}

/*caixa superior*/
.caixa{

width: 100%;
background-color: #27c498 ;
height: 100px;
    margin: 0;    
}
.img-logo{
height: 120px;

margin-left: 100px;
}
.letras-top{

margin-top: -95px;
text-align: center;

color: white;


}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  
}

/*Desmontar pc*/
.barra-top {
width       : 450px;
height      : 180px;
border      : 10px solid #242c2c;
border-width: 5px 0px 5px 5px;
margin      : 0 auto;
position    : relative;

}

.barra-top h1,
.barra-top h2 {
position: absolute;
top     : 10px;
left    : 10px;
}
.imagem-criança {
width       : 900px;
height      : 500px;
margin-top  : 100px;
display     : block;
margin-left : 300px;
margin-right: auto;
}

.container {
position: relative;
width   : 500px;
height  : 300px;
}
.caixa-sobreposta {
position        : absolute;
top             : 83%;
left            : 190%;
transform       : translate(-50%, -50%);
width           : 80%;
height          : 175%;
background-color: #242c2c;
color           : black;
text-align      : center;
padding         : 20px;
}
.letras-caixa-sobre-imagem-titulo {
color      : white;
font-size  : 30px;
font-family: 'Times New Roman', Times, serif;
text-align : center;

}

.letras-caixa-sobre-imagem {
color         : white;
text-align    : left;
text-align    : left;
font-size     : 18px;
text-indent   : 10%;
font-family   : "Bubbler One", sans-serif;
font-style    : normal;
letter-spacing: 2px;
}



/*animações*/

.shadow-drop-2-center {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940),
        box-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    /* Suaviza a transição */
}

.shadow-drop-2-center:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* animation shadow-drop-2-center
* ----------------------------------------------
*/
@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}



body {
    margin: 0;
    margin-bottom: 30px;
}
 .italic-text {
font-family: "Lora", serif;
font-style: italic;
}

 .bebas-neue-regular {
     font-family: "Bebas Neue", sans-serif;
     font-weight: 400;
     font-style: normal;
   }



/*caixa superior*/
.caixa{

width: 100%;
background-color: #27c498 ;
height: 100px;
 margin: 0;    
}
.img-logo{
height: 120px;

margin-left: 100px;
}
.letras-top{

margin-top: -95px;
text-align: center;

color: white;


}
.oswald {
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;

}


/*Parte1*/
.barra-top {
width       : 450px;
height      : 180px;
border      : 10px solid #242c2c;
border-width: 5px 0px 5px 5px;
margin      : 0 auto;
position    : relative;

}

.barra-top h1,
.barra-top h2 {
position: absolute;
top     : 10px;
left    : 10px;
}
.imagem-criança {
width       : 900px;
height      : 500px;
margin-top  : 100px;
display     : block;
margin-left : 300px;
margin-right: auto;
}

.container {
position: relative;
width   : 500px;
height  : 300px;
}
.caixa-sobreposta {
position        : absolute;
top             : 83%;
left            : 190%;
transform       : translate(-50%, -50%);
width           : 80%;
height          : 175%;
background-color: #d3d3d3;
color           : black;
text-align      : center;
padding         : 20px;
}
.letras-caixa-sobre-imagem-titulo {
color      : black;
font-size  : 30px;
font-family: 'Times New Roman', Times, serif;
text-align : center;

}

.letras-caixa-sobre-imagem {
color         : black;
text-align    : left;
text-align    : left;
font-size     : 18px;
text-indent   : 10%;
font-family   : "Bubbler One", sans-serif;
font-style    : normal;
letter-spacing: 2px;
}

.div-caixa-informacao {
margin-top: 300px;
}